<div id="records" class="col-md-8 tree">
  <%= render 'records' %>
</div>

<div id="actions" class="col-md-4">
  <%= render 'actions' %>
</div>
<%= render '/refinery/admin/make_sortable', options: {tree: true, replaceContentsAfterUpdate: true} if @pages.many? -%>
