<div id="more_options_field" >
  <p>
    <%= link_to(raw("<i class=\"icon-cog\"></i> ") << t('.advanced_options') << raw(" <i class=\"icon-chevron-down\"></i> "), "#",
                :id => 'toggle_advanced_options',
                :title => t('.toggle_advanced_options'), 
                :class => "btn") %>
  </p>
  <span id="draft_field">
    <%= f.check_box :draft %>
    <%= f.label :draft, t('.save_as_draft'),
                :class => "stripped" %>
  </span>
</div>