<div id="actions" class="col-lg-3 col-lg-push-6 col-md-3 col-md-push-6 col-sm-9">
  <%= render 'actions' %>
</div>
<div id="records" class="col-lg-6 col-lg-pull-3 col-md-6 col-md-pull-3 col-sm-9">
  <%= render 'records' %>
</div>
