<div id="actions" class="<%= local_assigns.fetch :actions_class, 'col-md-4 col-md-push-8 col-sm-12' -%>">
  <%= render 'actions' %>
</div>
<div id="records" class="<%= local_assigns.fetch :records_class, 'col-md-8 col-md-pull-4 col-sm-12' -%>">
  <%= render 'records' %>
</div>
