<%= render '/refinery/admin/search', :url => refinery.authentication_devise_admin_users_path %>
<div class="btn-group-vertical btn-group-lg btn-block">
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> ') << t('.create_new_user'), refinery.new_authentication_devise_admin_user_path,
                :class => "btn btn-lg btn-info" %>
</div>
