<%= render '/refinery/admin/search', :url => refinery.admin_resources_path %>
<div class="btn-group btn-group-vertical btn-block">
    <%= link_to raw('<i class="icon-upload icon-white"></i> ') << t('.upload_new'), refinery.new_admin_resource_path(:dialog => true),
                :class => "btn btn-large btn-info" %>
</div>
