<%= render '/refinery/admin/search', :url => refinery.admin_resources_path %>
<div class="btn-group-vertical btn-block">
    <%= link_to raw('<span class="glyphicon glyphicon-upload"></span> ') << t('.upload_new'), refinery.new_admin_resource_path(:dialog => true),
                :class => "btn btn-large btn-info" %>
</div>
