<%= render '/refinery/admin/search', :url => refinery.admin_users_path %>
<div class="btn-group btn-group-vertical btn-block">
    <%= link_to raw('<i class="icon-plus-sign icon-white"></i> ') << t('.create_new_user'), refinery.new_admin_user_path,
                :class => "btn btn-large btn-info" %>
</div>
